/* 
==============================================
CONTENT:	Animated Star Wars Poster
AUTHOR:		Eric Canosa
==============================================

TABLE OF CONTENTS:

0. Initialization
1. Styles

==============================================
*/

/* 0. Initialization ========================= */
@use 'reset';
@use 'variables';
@use 'mixins';

/* 1. Styles ================================= */

*, *::before, *::after {
	box-sizing: border-box;
}

$poster-width: 1000;
$poster-height: 1500;

body {
	min-height: 100vh;
	padding: 5vh 5vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background: whitesmoke;
	font-family: sans-serif;
}

.poster {
	position: relative;

	overflow: hidden;

	background-color: #fff2d7;
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
	z-index: -2;

	@media (min-aspect-ratio: #{$poster-width}/#{$poster-height}) {
		width: 90vh * ($poster-width/$poster-height);
		height: 90vh;
	}

	@media (max-aspect-ratio: #{$poster-width}/#{$poster-height}) {
		width: 90vw;
		height: 90vw * ($poster-height/$poster-width);
	}

	/*
		Everything in % so it's fully responsive!!!!!
	*/
	.full-size {
		position: absolute;
		top: 0%;
		left: 0%;
		width: 100%; // of the poster width, should match height automatically
	}

	.death-star{
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 80%;
	}

	.sky{
		top: 5%;
	}

	.yellow-sun{
		position: absolute;
		top: 11%;
		left: 30%;
		width: 16.5%;
		height: 11%;
		border-radius: 999rem;
		background: #f9a618;
	}

	.red-sun{
		position: absolute;
		top: 23%;
		left: 12%;
		width: 16.5%;
		height: 11%;
		border-radius: 999rem;
		background: #f04f21;
	}

	.falcon{
		position: absolute;
		top: 26%;
		left: 12%;
		width: 10%;
	}

	.r2{
		position: absolute;
		top: 32.4%;
		left: 75%;
		width: 7%;
		z-index: 2;
	}

	.city{
		top: 20%;
		left: 50.9%;

		&__touch-up{
			position: absolute;
			top: 19%;
			left: 50%;
			transform: translateX(-50%);
			width: 60%;
			height: 15%;
			border-radius: 999rem;
			z-index: -1;
			background: #f16e20;
		}
	}

	.ground{
		left: 51.3%;
		top: 31%;
		z-index: 1;

		&__touch-up{
			position: absolute;
			top: 34%;
			left: 48%;
			transform: translateX(-50%);
			width: 60%;
			height: 6%;
			border-radius: 999rem;
			z-index: -1;
			background: #923f21;
		}

		&__touch-up2{
			position: absolute;
			top: 36%;
			left: 64.4%;
			transform: translateX(-50%);
			border-radius: 33%;
			width: 3%;
			height: 3%;
			z-index: 2;
			background: #923f21;
		}

		&__touch-up3{
			position: absolute;
			top: 35.4%;
			left: 22%;
			transform: translateX(-50%);
			border-radius: 33%;
			width: 6%;
			height: 4%;
			z-index: 0;
			background: #923f21;
		}
	}

	.title{
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 60%;
		top: 72.5%
	}
}



// UTILITY

.hidden{
	display: none;
}